* {
  margin: 0%;
}

/* Background image for the webpage */
.bg-img {
    background-image: url(images/CultureVillage.JPG);
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

ul {
  text-align: center;
  font-size: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
}

li a {
  display: inline-block;
  color: #aaaaaa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: white;
}

li a:active {
  color: white;
}

h1 {
  color: white;
  text-align: center;
  
}

h2{
  color: white;
  text-align: center;
}